body{
    margin: 0;
    padding: 0;
}

.services-wrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.services-title{
    font-family: Ruda;
    font-size: 3rem;
    text-align: center;
}
.services-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.service-card{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 30px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.service-card-title{
    font-family: Ruda;
    font-size: 3rem;
}
.service-list{
    display: flex;
    flex-direction: column;
    font-family: Ruda;
    margin-top: 50px;
    padding-left: 0px;
}
.service-list li{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 0;
}
.black-line{
    background-color: black;
    width: 20px;
    height: 1px;
    margin-right: 15px;
}
.service-card-price{
    font-size: 3rem;
    text-transform: lowercase;
    font-family: Ruda;
    text-align: center;
}

.steps{
    width: 100%;
    font-family: Ruda;
}

.steps-wrapper{
    max-width: 1200px;
    margin: 0px auto;
}

.steps-blocks-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.steps-blocks img{
    position: relative;
    max-width: 370px;
}

.steps-blocks-title{
    position: absolute;
    left: 19%;
    top: 38%;
    color: white;
    font-family: "Ruda";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
}

.steps-blocks{
    position: relative;
    max-width: 370px;
    margin-bottom: 5px;
}


.steps-blocks:nth-child(3n-1){
    margin-left: 20px;
    margin-right: 20px;
}

.question{
    width: 100%;
    margin-bottom: 138px;
    margin-top: 138px;
}

.question-wrapper{
    max-width: 1200px;
    margin:0px auto;
}

.question-wrapper__title{
    text-align: center;
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #141414;
    margin-bottom: 40px;
}

.question-wrapper__logo{
    max-width: 450px;
    margin-right: 60px;
}

.question-wrapper__logo img{
    max-width: 450px;
}

.question-wrapper__info{
    display: flex;
    justify-content: space-between;
}

.question-wrapper__questions{
    display: flex;
    flex-wrap: wrap;
    font-family: "Ruda";
}

.question-wrapper__questions p{
    width: 320px;
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.feedback{
    width: 100%;
    font-family: Ruda;
}

.feedback-wrapper{
    background-color: #F7F7F7;
    max-width: 1200px;
    margin: 0px auto;
}

.feedback-info{
    display: flex;
    padding: 70px 100px 60px 88px;
}

.feedback-info__title h2{
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #141414;
}

.feedback-info__title p{
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.feedback-info__form input{
    border: 0px;
    border-bottom: 1px solid black;
    background-color: #F7F7F7;
    max-width: 380px;
    height: 50px;
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #737373;
    margin-top: 28px ;
}

.feedback-info__form{
    display: flex;
    flex-direction: column;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.feedback-button{
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.feedback-info__title{
    width: 52%;
    margin-right: 80px;
}

footer{
    width: 100%;
}

.footer-wrapper{
    max-width: 1200px;
    margin: 0px auto;
    border-bottom: 1px solid #C8C8C8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    margin-top: 30px;
    padding-bottom: 33px;
}

.footer-wrapper img{
    width: 180px;
    height: 125px;
}

.footer-wrapper a{
    text-decoration: none;
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #141414;
}

@media (max-width: 1250px) {
    .services-wrapper {
        width: 1000px;
    }
    .steps-blocks img {
        max-width: 310px;
    }

    .steps-blocks {
        max-width: 310px;
    }

    .question-wrapper__questions p{
        width: 210px;
    }

    .steps-blocks-title {
        left: 8%;
        top: 28%;
    }
}

@media (max-width: 1020px) {
    .services-wrapper {
        width: 760px;
    }
    .steps-blocks:nth-child(3n-1) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .steps-blocks:nth-child(2n){
        margin-left: 20px;
    }

    .footer-wrapper a {
        font-size: 13px;
    }

}

@media (max-width: 768px) {
    .services-wrapper {
        width: 440px;
        /*background-color: black;*/
    }
    .services-cards{
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }
    .service-card-title{
        font-size: 2rem;
    }
    .service-card-price{
        font-size: 2rem;
    }
    .question-wrapper__logo img {
        max-width: 360px;
    }

    .question-wrapper__info{
        flex-direction: column;
        justify-content: center;
    }

    .question-wrapper__questions {
        justify-content: center;
        margin-top: 40px;
    }

    .question-wrapper__logo {
        max-width: 360px;
        margin-right: 0px;
        margin: 0px auto;
    }

    .steps-blocks:nth-child(2n) {
        margin-left: 0px;
    }

    .feedback-info__title h2 {
        font-size: 20px;
    }

    .feedback-info__title p {
        font-size: 16px;
    }

    .feedback-info {
        flex-direction: column;
        padding: 39px 38px 50px 11px;
    }

    .feedback-info__title {
        width: 100%;
        margin-right: 0px;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-wrapper a {
        margin-top: 30px;
    }

    .question-wrapper__logo img {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .services-wrapper {
        width: 95%;
    }
    .service-card{
        padding: 0px 10px;
    }

}
